-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: nesim
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_blogposttotag`
--

DROP TABLE IF EXISTS `_blogposttotag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_blogposttotag` (
  `A` varchar(191) NOT NULL,
  `B` varchar(191) NOT NULL,
  UNIQUE KEY `_BlogPostToTag_AB_unique` (`A`,`B`),
  KEY `_BlogPostToTag_B_index` (`B`),
  CONSTRAINT `_BlogPostToTag_A_fkey` FOREIGN KEY (`A`) REFERENCES `blogpost` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `_BlogPostToTag_B_fkey` FOREIGN KEY (`B`) REFERENCES `tag` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_blogposttotag`
--

LOCK TABLES `_blogposttotag` WRITE;
/*!40000 ALTER TABLE `_blogposttotag` DISABLE KEYS */;
/*!40000 ALTER TABLE `_blogposttotag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aboutcontent`
--

DROP TABLE IF EXISTS `aboutcontent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aboutcontent` (
  `id` varchar(191) NOT NULL DEFAULT 'about-content',
  `heroTitle` varchar(191) DEFAULT NULL,
  `heroSubtitle` varchar(191) DEFAULT NULL,
  `heroImageUrl` varchar(191) DEFAULT NULL,
  `storyTitle` varchar(191) DEFAULT NULL,
  `storyBody` varchar(191) DEFAULT NULL,
  `storyImageUrl` varchar(191) DEFAULT NULL,
  `missionText` varchar(191) DEFAULT NULL,
  `visionText` varchar(191) DEFAULT NULL,
  `valuesText` varchar(191) DEFAULT NULL,
  `timelineData` varchar(191) DEFAULT NULL,
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aboutcontent`
--

LOCK TABLES `aboutcontent` WRITE;
/*!40000 ALTER TABLE `aboutcontent` DISABLE KEYS */;
/*!40000 ALTER TABLE `aboutcontent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activitylog`
--

DROP TABLE IF EXISTS `activitylog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activitylog` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) DEFAULT NULL,
  `action` varchar(191) NOT NULL,
  `entity` varchar(191) NOT NULL,
  `entityId` varchar(191) DEFAULT NULL,
  `details` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `ActivityLog_entity_entityId_idx` (`entity`,`entityId`),
  KEY `ActivityLog_userId_idx` (`userId`),
  CONSTRAINT `ActivityLog_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activitylog`
--

LOCK TABLES `activitylog` WRITE;
/*!40000 ALTER TABLE `activitylog` DISABLE KEYS */;
/*!40000 ALTER TABLE `activitylog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blogcategory`
--

DROP TABLE IF EXISTS `blogcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blogcategory` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `BlogCategory_slug_key` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blogcategory`
--

LOCK TABLES `blogcategory` WRITE;
/*!40000 ALTER TABLE `blogcategory` DISABLE KEYS */;
INSERT INTO `blogcategory` VALUES ('cmtnd21sr000m583n0dupplhh','{\"en\":\"Updates\",\"am\":\"ßï¥ßêÿßèôßïÄßë╜\",\"om\":\"Haaromsa\"}','updates'),('cmtnd21su000n583nagp3tef5','{\"en\":\"Stories\",\"am\":\"ßë│ßê¬ßè«ßë╜\",\"om\":\"Seenaa\"}','stories'),('cmtnd21sw000o583nsblxhsjz','{\"en\":\"Research\",\"am\":\"ßê¥ßê¡ßê¥ßê¡\",\"om\":\"Qorannoo\"}','research');
/*!40000 ALTER TABLE `blogcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blogpost`
--

DROP TABLE IF EXISTS `blogpost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blogpost` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `excerpt` varchar(191) NOT NULL,
  `body` varchar(191) NOT NULL,
  `coverUrl` varchar(191) DEFAULT NULL,
  `authorId` varchar(191) DEFAULT NULL,
  `categoryId` varchar(191) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 0,
  `featured` tinyint(1) NOT NULL DEFAULT 0,
  `publishedAt` datetime(3) DEFAULT NULL,
  `seoTitle` varchar(191) DEFAULT NULL,
  `seoDescription` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `BlogPost_slug_key` (`slug`),
  KEY `BlogPost_authorId_fkey` (`authorId`),
  KEY `BlogPost_categoryId_fkey` (`categoryId`),
  CONSTRAINT `BlogPost_authorId_fkey` FOREIGN KEY (`authorId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `BlogPost_categoryId_fkey` FOREIGN KEY (`categoryId`) REFERENCES `blogcategory` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blogpost`
--

LOCK TABLES `blogpost` WRITE;
/*!40000 ALTER TABLE `blogpost` DISABLE KEYS */;
/*!40000 ALTER TABLE `blogpost` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contactmessage`
--

DROP TABLE IF EXISTS `contactmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contactmessage` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `subject` varchar(191) DEFAULT NULL,
  `message` varchar(191) NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'new',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contactmessage`
--

LOCK TABLES `contactmessage` WRITE;
/*!40000 ALTER TABLE `contactmessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `contactmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donationintent`
--

DROP TABLE IF EXISTS `donationintent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donationintent` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `amount` int(11) NOT NULL,
  `currency` varchar(191) NOT NULL DEFAULT 'ETB',
  `method` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'pending',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donationintent`
--

LOCK TABLES `donationintent` WRITE;
/*!40000 ALTER TABLE `donationintent` DISABLE KEYS */;
/*!40000 ALTER TABLE `donationintent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faqitem`
--

DROP TABLE IF EXISTS `faqitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faqitem` (
  `id` varchar(191) NOT NULL,
  `question` varchar(191) NOT NULL,
  `answer` varchar(191) NOT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faqitem`
--

LOCK TABLES `faqitem` WRITE;
/*!40000 ALTER TABLE `faqitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `faqitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gallery`
--

DROP TABLE IF EXISTS `gallery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gallery` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `coverImage` varchar(191) DEFAULT NULL,
  `eventDate` datetime(3) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gallery`
--

LOCK TABLES `gallery` WRITE;
/*!40000 ALTER TABLE `gallery` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `galleryimage`
--

DROP TABLE IF EXISTS `galleryimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `galleryimage` (
  `id` varchar(191) NOT NULL,
  `galleryId` varchar(191) NOT NULL,
  `imageUrl` varchar(191) NOT NULL,
  `altText` varchar(191) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `GalleryImage_galleryId_fkey` (`galleryId`),
  CONSTRAINT `GalleryImage_galleryId_fkey` FOREIGN KEY (`galleryId`) REFERENCES `gallery` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `galleryimage`
--

LOCK TABLES `galleryimage` WRITE;
/*!40000 ALTER TABLE `galleryimage` DISABLE KEYS */;
/*!40000 ALTER TABLE `galleryimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `globalsettings`
--

DROP TABLE IF EXISTS `globalsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `globalsettings` (
  `id` varchar(191) NOT NULL DEFAULT 'site-settings',
  `orgName` varchar(191) NOT NULL DEFAULT 'Nesim',
  `shortName` varchar(191) NOT NULL DEFAULT 'Nesim',
  `logoUrl` varchar(191) DEFAULT NULL,
  `darkLogoUrl` varchar(191) DEFAULT NULL,
  `faviconUrl` varchar(191) DEFAULT NULL,
  `tagline` varchar(191) DEFAULT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `address` varchar(191) DEFAULT NULL,
  `facebookUrl` varchar(191) DEFAULT NULL,
  `twitterUrl` varchar(191) DEFAULT NULL,
  `instagramUrl` varchar(191) DEFAULT NULL,
  `youtubeUrl` varchar(191) DEFAULT NULL,
  `linkedinUrl` varchar(191) DEFAULT NULL,
  `telegramUrl` varchar(191) DEFAULT NULL,
  `footerText` varchar(191) DEFAULT NULL,
  `copyrightText` varchar(191) DEFAULT NULL,
  `seoTitle` varchar(191) DEFAULT NULL,
  `seoDescription` varchar(191) DEFAULT NULL,
  `seoKeywords` varchar(191) DEFAULT NULL,
  `primaryColor` varchar(191) DEFAULT '#0F4C2A',
  `accentColor` varchar(191) DEFAULT '#E8721C',
  `donationLink` varchar(191) DEFAULT NULL,
  `membershipLink` varchar(191) DEFAULT NULL,
  `analyticsId` varchar(191) DEFAULT NULL,
  `mapEmbedUrl` varchar(191) DEFAULT NULL,
  `ctaText` varchar(191) DEFAULT NULL,
  `ctaUrl` varchar(191) DEFAULT NULL,
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `globalsettings`
--

LOCK TABLES `globalsettings` WRITE;
/*!40000 ALTER TABLE `globalsettings` DISABLE KEYS */;
INSERT INTO `globalsettings` VALUES ('site-settings','Nesim Education and Development Organization','NEDO','/uploads/1788561800498-jfz9mw.jpg','/uploads/1788561803447-jkydjq.jpg','/uploads/1788561807621-or9wxv.jpg',NULL,NULL,'info@nesimeducationanddevelopment.com','Addis Ababa,Ethiopia',NULL,NULL,NULL,NULL,NULL,NULL,'',NULL,NULL,NULL,NULL,'#0F4C2A','#E8721C',NULL,NULL,NULL,NULL,NULL,NULL,'2026-09-05 03:52:05.189');
/*!40000 ALTER TABLE `globalsettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `heroslide`
--

DROP TABLE IF EXISTS `heroslide`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `heroslide` (
  `id` varchar(191) NOT NULL,
  `imageUrl` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `subtitle` varchar(191) DEFAULT NULL,
  `buttonText` varchar(191) DEFAULT NULL,
  `buttonUrl` varchar(191) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `heroslide`
--

LOCK TABLES `heroslide` WRITE;
/*!40000 ALTER TABLE `heroslide` DISABLE KEYS */;
/*!40000 ALTER TABLE `heroslide` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `impactstat`
--

DROP TABLE IF EXISTS `impactstat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `impactstat` (
  `id` varchar(191) NOT NULL,
  `label` varchar(191) NOT NULL,
  `value` int(11) NOT NULL,
  `suffix` varchar(191) DEFAULT NULL,
  `prefix` varchar(191) DEFAULT NULL,
  `icon` varchar(191) DEFAULT NULL,
  `description` varchar(191) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `impactstat`
--

LOCK TABLES `impactstat` WRITE;
/*!40000 ALTER TABLE `impactstat` DISABLE KEYS */;
/*!40000 ALTER TABLE `impactstat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `islamicmessage`
--

DROP TABLE IF EXISTS `islamicmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `islamicmessage` (
  `id` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL DEFAULT 'message',
  `arabicText` varchar(191) DEFAULT NULL,
  `translation` varchar(191) NOT NULL,
  `reference` varchar(191) DEFAULT NULL,
  `backgroundImage` varchar(191) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `islamicmessage`
--

LOCK TABLES `islamicmessage` WRITE;
/*!40000 ALTER TABLE `islamicmessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `islamicmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `landingcontent`
--

DROP TABLE IF EXISTS `landingcontent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `landingcontent` (
  `id` varchar(191) NOT NULL DEFAULT 'landing-content',
  `communityTitle` text DEFAULT NULL,
  `communitySubtitle` text DEFAULT NULL,
  `communityImages` text DEFAULT NULL,
  `impactTitle` text DEFAULT NULL,
  `impactDescription` text DEFAULT NULL,
  `impactImageUrl` text DEFAULT NULL,
  `impactQuote` text DEFAULT NULL,
  `impactQuoteAuthor` text DEFAULT NULL,
  `impactStats` text DEFAULT NULL,
  `impactFloatingValue` text DEFAULT NULL,
  `impactFloatingLabel` text DEFAULT NULL,
  `impactCtaText` text DEFAULT NULL,
  `impactCtaUrl` text DEFAULT NULL,
  `factsTitle` text DEFAULT NULL,
  `factsSubtitle` text DEFAULT NULL,
  `factsItems` text DEFAULT NULL,
  `factsCtaText` text DEFAULT NULL,
  `factsCtaUrl` text DEFAULT NULL,
  `updatedAt` datetime(3) NOT NULL,
  `processSteps` text DEFAULT NULL,
  `processSubtitle` text DEFAULT NULL,
  `processTitle` text DEFAULT NULL,
  `reachRegions` text DEFAULT NULL,
  `reachSubtitle` text DEFAULT NULL,
  `reachTitle` text DEFAULT NULL,
  `storiesItems` text DEFAULT NULL,
  `storiesSubtitle` text DEFAULT NULL,
  `storiesTitle` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `landingcontent`
--

LOCK TABLES `landingcontent` WRITE;
/*!40000 ALTER TABLE `landingcontent` DISABLE KEYS */;
/*!40000 ALTER TABLE `landingcontent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media`
--

DROP TABLE IF EXISTS `media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `media` (
  `id` varchar(191) NOT NULL,
  `url` varchar(191) NOT NULL,
  `altText` varchar(191) DEFAULT NULL,
  `fileType` varchar(191) NOT NULL DEFAULT 'image',
  `fileSize` int(11) DEFAULT NULL,
  `mimeType` varchar(191) DEFAULT NULL,
  `uploadedBy` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Media_uploadedBy_fkey` (`uploadedBy`),
  CONSTRAINT `Media_uploadedBy_fkey` FOREIGN KEY (`uploadedBy`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media`
--

LOCK TABLES `media` WRITE;
/*!40000 ALTER TABLE `media` DISABLE KEYS */;
/*!40000 ALTER TABLE `media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `membershipapplication`
--

DROP TABLE IF EXISTS `membershipapplication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `membershipapplication` (
  `id` varchar(191) NOT NULL,
  `firstName` varchar(191) NOT NULL,
  `lastName` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(191) NOT NULL,
  `dob` datetime(3) DEFAULT NULL,
  `gender` varchar(191) DEFAULT NULL,
  `address` varchar(191) DEFAULT NULL,
  `city` varchar(191) DEFAULT NULL,
  `occupation` varchar(191) DEFAULT NULL,
  `categoryId` varchar(191) DEFAULT NULL,
  `motivation` varchar(191) DEFAULT NULL,
  `documents` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'new',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `MembershipApplication_categoryId_fkey` (`categoryId`),
  CONSTRAINT `MembershipApplication_categoryId_fkey` FOREIGN KEY (`categoryId`) REFERENCES `membershipcategory` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `membershipapplication`
--

LOCK TABLES `membershipapplication` WRITE;
/*!40000 ALTER TABLE `membershipapplication` DISABLE KEYS */;
/*!40000 ALTER TABLE `membershipapplication` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `membershipcategory`
--

DROP TABLE IF EXISTS `membershipcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `membershipcategory` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `requirements` varchar(191) DEFAULT NULL,
  `benefits` varchar(191) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `membershipcategory`
--

LOCK TABLES `membershipcategory` WRITE;
/*!40000 ALTER TABLE `membershipcategory` DISABLE KEYS */;
/*!40000 ALTER TABLE `membershipcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `newscategory`
--

DROP TABLE IF EXISTS `newscategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `newscategory` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `NewsCategory_slug_key` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `newscategory`
--

LOCK TABLES `newscategory` WRITE;
/*!40000 ALTER TABLE `newscategory` DISABLE KEYS */;
INSERT INTO `newscategory` VALUES ('cmtnd21th0019583nygccnanv','{\"en\":\"Press Releases\",\"am\":\"ßï¿ßîïßï£ßîú ßêÿßîìßêêßî½ßïÄßë╜\",\"om\":\"Ibsa Gaazexaa\"}','press-releases'),('cmtnd21tl001a583n7quekabt','{\"en\":\"Events\",\"am\":\"ßï¥ßîìßîàßë╢ßë╜\",\"om\":\"Sagantaalee\"}','events');
/*!40000 ALTER TABLE `newscategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `newspost`
--

DROP TABLE IF EXISTS `newspost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `newspost` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `slug` varchar(191) DEFAULT NULL,
  `excerpt` varchar(191) NOT NULL,
  `body` varchar(191) NOT NULL,
  `coverUrl` varchar(191) DEFAULT NULL,
  `category` varchar(191) NOT NULL DEFAULT 'news',
  `newsCategoryId` varchar(191) DEFAULT NULL,
  `author` varchar(191) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `featured` tinyint(1) NOT NULL DEFAULT 0,
  `publishedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `seoTitle` varchar(191) DEFAULT NULL,
  `seoDescription` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `NewsPost_slug_key` (`slug`),
  KEY `NewsPost_newsCategoryId_fkey` (`newsCategoryId`),
  CONSTRAINT `NewsPost_newsCategoryId_fkey` FOREIGN KEY (`newsCategoryId`) REFERENCES `newscategory` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `newspost`
--

LOCK TABLES `newspost` WRITE;
/*!40000 ALTER TABLE `newspost` DISABLE KEYS */;
/*!40000 ALTER TABLE `newspost` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partner`
--

DROP TABLE IF EXISTS `partner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `partner` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `logoUrl` varchar(191) DEFAULT NULL,
  `websiteUrl` varchar(191) DEFAULT NULL,
  `description` varchar(191) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partner`
--

LOCK TABLES `partner` WRITE;
/*!40000 ALTER TABLE `partner` DISABLE KEYS */;
/*!40000 ALTER TABLE `partner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presidentmessage`
--

DROP TABLE IF EXISTS `presidentmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `presidentmessage` (
  `id` varchar(191) NOT NULL DEFAULT 'president-message',
  `photoUrl` varchar(191) DEFAULT NULL,
  `name` varchar(191) NOT NULL,
  `position` varchar(191) NOT NULL,
  `message` varchar(191) NOT NULL,
  `signatureUrl` varchar(191) DEFAULT NULL,
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presidentmessage`
--

LOCK TABLES `presidentmessage` WRITE;
/*!40000 ALTER TABLE `presidentmessage` DISABLE KEYS */;
INSERT INTO `presidentmessage` VALUES ('president-message','/uploads/1788557266973-2gbbav.jpg','Nesredin Ahmed','{\"en\":\"President & Founder\",\"am\":\"ßìòßê¼ßï¥ßï│ßèòßë╡ ßèÑßèô ßêÿßê╡ßê½ßë╜\",\"om\":\"Pirezidaantii fi Hundeesaa\"}','When I founded Nesim, I carried a simple conviction: that the potential of every Ethiopian child is boundless ΓÇö but opportunity is not equally distributed. Today, as I visit the commun',NULL,'2026-09-04 21:28:08.096');
/*!40000 ALTER TABLE `presidentmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program`
--

DROP TABLE IF EXISTS `program`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `program` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `summary` varchar(191) NOT NULL,
  `body` varchar(191) NOT NULL,
  `icon` varchar(191) DEFAULT NULL,
  `imageUrl` varchar(191) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program`
--

LOCK TABLES `program` WRITE;
/*!40000 ALTER TABLE `program` DISABLE KEYS */;
/*!40000 ALTER TABLE `program` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project`
--

DROP TABLE IF EXISTS `project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `slug` varchar(191) DEFAULT NULL,
  `summary` varchar(191) NOT NULL,
  `body` varchar(191) NOT NULL,
  `location` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'ongoing',
  `imageUrl` varchar(191) DEFAULT NULL,
  `categoryId` varchar(191) DEFAULT NULL,
  `startDate` datetime(3) DEFAULT NULL,
  `endDate` datetime(3) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `featured` tinyint(1) NOT NULL DEFAULT 0,
  `order` int(11) NOT NULL DEFAULT 0,
  `seoTitle` varchar(191) DEFAULT NULL,
  `seoDescription` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Project_slug_key` (`slug`),
  KEY `Project_categoryId_fkey` (`categoryId`),
  CONSTRAINT `Project_categoryId_fkey` FOREIGN KEY (`categoryId`) REFERENCES `projectcategory` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project`
--

LOCK TABLES `project` WRITE;
/*!40000 ALTER TABLE `project` DISABLE KEYS */;
/*!40000 ALTER TABLE `project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projectcategory`
--

DROP TABLE IF EXISTS `projectcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projectcategory` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ProjectCategory_slug_key` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projectcategory`
--

LOCK TABLES `projectcategory` WRITE;
/*!40000 ALTER TABLE `projectcategory` DISABLE KEYS */;
INSERT INTO `projectcategory` VALUES ('cmtnd21sb000e583ngz666kty','{\"en\":\"Education\",\"am\":\"ßë╡ßê¥ßêàßê¡ßë╡\",\"om\":\"Barnoota\"}','education'),('cmtnd21sh000f583n6y03kbal','{\"en\":\"Water & Sanitation\",\"am\":\"ßïìßêâ ßèÑßèô ßèòßìàßêàßèô\",\"om\":\"Bishaan fi Qulqullina\"}','water-sanitation'),('cmtnd21sk000g583nthl8hng2','{\"en\":\"Community\",\"am\":\"ßê¢ßêàßëáßê¿ßê░ßëÑ\",\"om\":\"Hawaasa\"}','community');
/*!40000 ALTER TABLE `projectcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projectimage`
--

DROP TABLE IF EXISTS `projectimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projectimage` (
  `id` varchar(191) NOT NULL,
  `projectId` varchar(191) NOT NULL,
  `imageUrl` varchar(191) NOT NULL,
  `altText` varchar(191) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `ProjectImage_projectId_fkey` (`projectId`),
  CONSTRAINT `ProjectImage_projectId_fkey` FOREIGN KEY (`projectId`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projectimage`
--

LOCK TABLES `projectimage` WRITE;
/*!40000 ALTER TABLE `projectimage` DISABLE KEYS */;
/*!40000 ALTER TABLE `projectimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registrationsubmission`
--

DROP TABLE IF EXISTS `registrationsubmission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registrationsubmission` (
  `id` varchar(191) NOT NULL,
  `fullName` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(191) NOT NULL,
  `program` varchar(191) DEFAULT NULL,
  `city` varchar(191) DEFAULT NULL,
  `notes` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'new',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registrationsubmission`
--

LOCK TABLES `registrationsubmission` WRITE;
/*!40000 ALTER TABLE `registrationsubmission` DISABLE KEYS */;
/*!40000 ALTER TABLE `registrationsubmission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resource`
--

DROP TABLE IF EXISTS `resource`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resource` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `categoryId` varchar(191) DEFAULT NULL,
  `fileUrl` varchar(191) NOT NULL,
  `coverImage` varchar(191) DEFAULT NULL,
  `fileType` varchar(191) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `publishedAt` datetime(3) DEFAULT NULL,
  `downloadCount` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Resource_categoryId_fkey` (`categoryId`),
  CONSTRAINT `Resource_categoryId_fkey` FOREIGN KEY (`categoryId`) REFERENCES `resourcecategory` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resource`
--

LOCK TABLES `resource` WRITE;
/*!40000 ALTER TABLE `resource` DISABLE KEYS */;
/*!40000 ALTER TABLE `resource` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resourcecategory`
--

DROP TABLE IF EXISTS `resourcecategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resourcecategory` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ResourceCategory_slug_key` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resourcecategory`
--

LOCK TABLES `resourcecategory` WRITE;
/*!40000 ALTER TABLE `resourcecategory` DISABLE KEYS */;
INSERT INTO `resourcecategory` VALUES ('cmtnd21tw001k583nepbvot5h','{\"en\":\"Annual Reports\",\"am\":\"ßïôßêÿßë│ßïè ßê¬ßìûßê¡ßë╢ßë╜\",\"om\":\"Gabaasa Waggaa\"}','annual-reports'),('cmtnd21tz001l583nu60ttkit','{\"en\":\"Guides & Toolkits\",\"am\":\"ßêÿßêÿßê¬ßï½ßïÄßë╜\",\"om\":\"Qajeelfama\"}','guides');
/*!40000 ALTER TABLE `resourcecategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service`
--

DROP TABLE IF EXISTS `service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `summary` varchar(191) NOT NULL,
  `body` varchar(191) NOT NULL,
  `imageUrl` varchar(191) DEFAULT NULL,
  `icon` varchar(191) DEFAULT NULL,
  `featured` tinyint(1) NOT NULL DEFAULT 0,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(11) NOT NULL DEFAULT 0,
  `seoTitle` varchar(191) DEFAULT NULL,
  `seoDescription` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Service_slug_key` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service`
--

LOCK TABLES `service` WRITE;
/*!40000 ALTER TABLE `service` DISABLE KEYS */;
/*!40000 ALTER TABLE `service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tag`
--

DROP TABLE IF EXISTS `tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tag` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Tag_slug_key` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tag`
--

LOCK TABLES `tag` WRITE;
/*!40000 ALTER TABLE `tag` DISABLE KEYS */;
INSERT INTO `tag` VALUES ('cmtnd21sy000p583niql1k9ig','{\"en\":\"Literacy\",\"am\":\"ßèòßëúßëÑ\",\"om\":\"Dubbisuu\"}','literacy'),('cmtnd21t2000q583nsqnxid01','{\"en\":\"Clean Water\",\"am\":\"ßèòßìüßêà ßïìßêâ\",\"om\":\"Bishaan Qulqulluu\"}','clean-water'),('cmtnd21t4000r583nktvhp72d','{\"en\":\"Girls\' Education\",\"am\":\"ßï¿ßê┤ßë╢ßë╜ ßë╡ßê¥ßêàßê¡ßë╡\",\"om\":\"Barnoota Dubartootaa\"}','girls-education');
/*!40000 ALTER TABLE `tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teammember`
--

DROP TABLE IF EXISTS `teammember`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teammember` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `role` varchar(191) NOT NULL,
  `photoUrl` varchar(191) DEFAULT NULL,
  `bio` varchar(191) DEFAULT NULL,
  `isLeader` tinyint(1) NOT NULL DEFAULT 0,
  `order` int(11) NOT NULL DEFAULT 0,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teammember`
--

LOCK TABLES `teammember` WRITE;
/*!40000 ALTER TABLE `teammember` DISABLE KEYS */;
/*!40000 ALTER TABLE `teammember` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testimonial`
--

DROP TABLE IF EXISTS `testimonial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testimonial` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `role` varchar(191) DEFAULT NULL,
  `quote` varchar(191) NOT NULL,
  `photoUrl` varchar(191) DEFAULT NULL,
  `rating` int(11) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testimonial`
--

LOCK TABLES `testimonial` WRITE;
/*!40000 ALTER TABLE `testimonial` DISABLE KEYS */;
/*!40000 ALTER TABLE `testimonial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `passwordHash` varchar(191) NOT NULL,
  `role` enum('SUPER_ADMIN','CONTENT_ADMIN','MEMBERSHIP_ADMIN','EDITOR','VIEWER') NOT NULL DEFAULT 'EDITOR',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('cmtnd21r70000583ny59iewqs','Nesim Admin','admin@nesim.org','$2a$10$aLaErhp4h0VpXKFBM4aVBen2H6GmtIBAijpb0J.IkQYKBFmLXo9Tq','SUPER_ADMIN','2026-09-04 19:42:30.498');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteerapplication`
--

DROP TABLE IF EXISTS `volunteerapplication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `volunteerapplication` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(191) NOT NULL,
  `city` varchar(191) DEFAULT NULL,
  `skills` varchar(191) DEFAULT NULL,
  `message` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'new',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteerapplication`
--

LOCK TABLES `volunteerapplication` WRITE;
/*!40000 ALTER TABLE `volunteerapplication` DISABLE KEYS */;
/*!40000 ALTER TABLE `volunteerapplication` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'nesim'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-05 16:23:23
